<h1> Edit Real Estate Company </h1>
<%= form_with scope: :real_estate_company, url: real_estate_companies_path, local: true do |form| %>
    <% if @real_estate_company.errors.any? %>
        <div id= "error explanation">
            <h2>
                <%= pluralize(@real_estate_company.errors.count, "error") %> prohibited this real_estate_company from being saved:
            </h2>
            <u1>
                <% @real_estate_company.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <%end%>
            </u1>
        </div>
    <%end%>
    
    <p>
        <%= form.label :name %> <br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :website %> <br>
        <%= form.text_field:website %>
    </p>
    
    <p>
        <%= form.label :address %> <br>
        <%= form.text_area :address %>
    </p>
    
    <p>
        <%= form.label :size %> <br>
        <%= form.number_field :size %>
    </p>
    
    <p>
        <%= form.label :founded %> <br>
        <%= form.number_field :founded %>
    </p>
    
    <p>
        <%= form.label :revenue %> <br>
        <%= form.number_field :revenue %>
    </p>
    
    <p>
        <%= form.label :synopsis %> <br>
        <%= form.text_area :synopsis %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
    
<% end %>
