<h1> Listing Real Estate Companies </h1>

<table>
    <tr>
        <th> Company Name </th>
        <th> Company Website </th>
        <th> Company Address </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    
    <% @real_estate_companies.each do |real_estate_company| %>
        <tr>
            <td><%= real_estate_company.name %> </td>
            <td><%= real_estate_company.website %> </td>
            <td><%= real_estate_company.address %> </td>
            <td><%= link_to 'View', real_estate_company_path(real_estate_company) %> </td>
            <td><%= link_to 'Edit', edit_real_estate_company_path(real_estate_company) %></td>
            <td><%= link_to 'Delete', real_estate_company_path(real_estate_company),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
</table>