<h1>
    <strong><%= @real_estate_company.name %> </strong>
</h1>

<p>
    <%= @real_estate_company.website %> <br>
    Address: <%= @real_estate_company.address %> <br>
    Number of Employees: <%= @real_estate_company.size %> <br>
    Founded in <%= @real_estate_company.founded %> <br>
    Yearly Revenue: $<%= @real_estate_company.revenue %> <br>
</p>

<p>
    Company Synopsis: <br>
    <%= @real_estate_company.synopsis %>
</p>

<p>
<% if @real_estate_company == current_user.company %>
    <%= link_to "Edit Company Page", edit_real_estate_company_path(@real_estate_company) %>
<%end%>
</p>
    

<h2>House Listings</h2>
<% @real_estate_company.houses.each do |house| %>
    <p>
        <%= house.inspect %> <br>
        <br><br>
    </p>
<% end %>
    
