<h1>
    <strong><%= @real_estate_company.name %> </strong>
</h1>

<p>
    <%= @real_estate_company.website %> <br>
    Address: <%= @real_estate_company.address %> <br>
    Number of Employees: <%= @real_estate_company.size %> <br>
    Founded in <%= @real_estate_company.founded %> <br>
    Yearly Revenue: $<%= @real_estate_company.revenue %> <br>
</p>

<p>
    Company Synopsis: <br>
    <%= @real_estate_company.synopsis %>
</p>

    
