<a><%=link_to "Edit Profile", edit_user_path(current_user)%></a>
<a><%=link_to "Create Account", new_user_path%></a>
<a><%=link_to "Create Company", new_real_estate_company_path%></a>
<a><%=link_to "View Users", users_path%></a>
<a><%=link_to "View Companies", real_estate_companies_path%></a>
<a><%=link_to "View Houses", houses_path%></a>
